<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${env.CI_ARTIFACTORY_USER_NAME}</username>
      <password>${env.CI_ARTIFACTORY_USER_PASSWORD}</password>
      <id>release</id>
    </server>
    <server>
      <username>${env.CI_ARTIFACTORY_USER_NAME}</username>
      <password>${env.CI_ARTIFACTORY_USER_PASSWORD}</password>
      <id>snapshot</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>release</id>
          <name>libs-release</name>
          <url>https://artifactory.provectus.com/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshot</id>
          <name>libs-snapshot</name>
          <url>https://artifactory.provectus.com/artifactory/libs-release</url>
        </repository>
      </repositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
